<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ swagger_css_url }}">
    <link rel="icon" type="image/png" href="{{ swagger_favicon_url }}">
    <style>
      body { margin: 0; padding: 0; }
      #swagger-ui { margin-top: 20px; }
      .custom-logo {
        width: 200px;
        margin: 20px auto 0 auto;
        display: block;
      }
      section.models { display: none !important; }
    </style>
  </head>
  <body>
    <img src="{{ request.url_for('static', path='logo.png') }}" alt="Logo" class="custom-logo">
    <div id="swagger-ui"></div>
    <script src="{{ swagger_js_url }}"></script>
    <script>
      window.onload = function () {
        SwaggerUIBundle({
          url: "{{ openapi_url }}",
          dom_id: '#swagger-ui',
          presets: [
            SwaggerUIBundle.presets.apis,
            SwaggerUIBundle.SwaggerUIStandalonePreset
          ],
          layout: "BaseLayout",
        });
      };
    </script>
  </body>
</html>
